<?xml version="1.0" encoding="utf-8"?>
<!-- The configuration file for SMSvcHost.exe -->
<configuration>
    <runtime>
        <gcConcurrent enabled="false" />
    </runtime>
    <system.serviceModel>
        <!-- SMSvcHost ETW traces are redirected by default to an etwProviderId different from WCF's default. 
             To trace to the default provider, remove the etwProviderId attribute below. -->
        <diagnostics performanceCounters="Off" etwProviderId="{f18839f5-27ff-4e66-bd2d-639b768cf18b}"/>
    </system.serviceModel>
    <!-- Below are some sample config settings:    
    <system.serviceModel.activation>
        <net.tcp listenBacklog="10" maxPendingConnections="100" maxPendingAccepts="2" receiveTimeout="00:00:10" teredoEnabled="false">
            <allowAccounts>
                // LocalSystem account
                <add securityIdentifier="S-1-5-18"/>

                // LocalService account
                <add securityIdentifier="S-1-5-19"/>
                
                // Administrators account
                <add securityIdentifier="S-1-5-20"/>
                
                // Network Service account
                <add securityIdentifier="S-1-5-32-544" />
                
                // IIS_IUSRS account (Vista only)
                <add securityIdentifier="S-1-5-32-568"/>
            </allowAccounts>
        </net.tcp>
        <net.pipe maxPendingConnections="100" maxPendingAccepts="2" receiveTimeout="00:00:10">
            <allowAccounts>
                // LocalSystem account
                <add securityIdentifier="S-1-5-18"/>

                // LocalService account
                <add securityIdentifier="S-1-5-19"/>
                
                // Administrators account
                <add securityIdentifier="S-1-5-20"/>
                
                // Network Service account
                <add securityIdentifier="S-1-5-32-544" />
                
                // IIS_IUSRS account (Vista only)
                <add securityIdentifier="S-1-5-32-568"/>
            </allowAccounts>
        </net.pipe>
        <diagnostics performanceCountersEnabled="true" />
    </system.serviceModel.activation>
    -->
    <system.serviceModel.activation>
        <net.tcp>
            <allowAccounts>
                <add securityIdentifier="S-1-5-21-1253468384-1019806435-2261168248-1011" />
                <add securityIdentifier="S-1-5-21-1253468384-1019806435-2261168248-1012" />
                <add securityIdentifier="S-1-5-21-1253468384-1019806435-2261168248-1006" />
                <add securityIdentifier="S-1-5-21-1253468384-1019806435-2261168248-1007" />
                <add securityIdentifier="S-1-5-21-1253468384-1019806435-2261168248-1008" />
                <add securityIdentifier="S-1-5-21-1253468384-1019806435-2261168248-1009" />
                <add securityIdentifier="S-1-5-21-1253468384-1019806435-2261168248-1001" />
            </allowAccounts>
        </net.tcp>
    </system.serviceModel.activation>
</configuration>
